<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Angular 2</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- styles:css -->

    <link rel="stylesheet" href="~/css/bootstrap.css?2016060127">

    <!-- endinject -->
    <!-- lib:js -->

    <script src="~/lib/es6-shim/es6-shim.min.js?2016060125"></script>

    <script src="~/lib/core-js/client/shim.js?2016060125"></script>

    <script src="~/lib/zone.js/dist/zone.js?2016060125"></script>

    <script src="~/lib/reflect-metadata/Reflect.js?2016060125"></script>

    <script src="~/lib/systemjs/dist/system.src.js?2016060125"></script>

    <script src="~/lib/rxjs/bundles/Rx.js?2016060125"></script>

    <!-- endinject -->

    <link rel="stylesheet" href="~/app/styles.css">

    <script src="~/systemjs.config.js"></script>
    <script>
        window.define = System.amdDefine;
        window.require = window.requirejs = System.amdRequire;
        System.import('app').catch(function (err) { console.error(err); });
    </script>
</head>
<body>
    @RenderBody()
    <my-app>Loading...</my-app>

    @RenderSection("scripts", required: false)
</body>
</html>